<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.auth.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.entities.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deauthentication</servlet-name>
        <servlet-class>controller.auth.Deauthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoController</servlet-name>
        <servlet-class>controller.entities.PhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinglePostController</servlet-name>
        <servlet-class>controller.entities.SinglePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutMeController</servlet-name>
        <servlet-class>controller.entities.AboutMeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPostsController</servlet-name>
        <servlet-class>controller.entities.MyPostsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPostController</servlet-name>
        <servlet-class>controller.entities.UploadPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCommentController</servlet-name>
        <servlet-class>controller.entities.UploadCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPostsByTopicController</servlet-name>
        <servlet-class>controller.entities.ListPostsByTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>controller.entities.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileSettingsController</servlet-name>
        <servlet-class>controller.entities.ProfileSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameResultController</servlet-name>
        <servlet-class>controller.entities.SearchNameResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>controller.entities.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchScriptResultController</servlet-name>
        <servlet-class>controller.entities.SearchScriptResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.entities.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.entities.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.entities.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.entities.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportController</servlet-name>
        <servlet-class>controller.entities.DeleteReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deauthentication</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoController</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinglePostController</servlet-name>
        <url-pattern>/singlePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutMeController</servlet-name>
        <url-pattern>/aboutMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPostsController</servlet-name>
        <url-pattern>/myPosts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPostController</servlet-name>
        <url-pattern>/uploadPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCommentController</servlet-name>
        <url-pattern>/uploadComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPostsByTopicController</servlet-name>
        <url-pattern>/listPostsByTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/deleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileSettingsController</servlet-name>
        <url-pattern>/profileSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameResultController</servlet-name>
        <url-pattern>/searchNameResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchScriptResultController</servlet-name>
        <url-pattern>/searchScriptResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportController</servlet-name>
        <url-pattern>/deleteReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
